


body::before{
    content: "";
    width:100vw;
    height: 100vh;

    background-image:url(../../../assets/images/img-games/ZBOTW/bg-home-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    position: absolute;
    
}
body::after{
    content: "";
    width:100vw;
    height: 100vh;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.856), transparent);

    position: absolute;
    top: 0;
}


.image-link-highlight {
    position: absolute;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 100%;



}
.image-link-highlight img{
    margin-right: 50px;
    width: 400px;

    z-index: -1;
    scale: -1 1 ;

    
}
.more-information__release{
    background-color: var(--color-blue);
}


.section__top .button-watch-trailer a{
    background:var(--color-blue);
}

.navigator ul li a{
    border-color: var(--color-blue);

}


